.nav{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 51, 0);
}
.logo{
    width: 40px;
}